# Clerk Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# Runway
RUNWAY_API_KEY=
RUNWAY_API_BASE=https://api.dev.runwayml.com

# Prysmor Panel
PRYSMOR_PANEL_SECRET=

# Anthropic (Claude)
ANTHROPIC_API_KEY=

# Replicate
REPLICATE_API_TOKEN=
WAVESPEED_API_KEY=

# Fal.ai
FAL_KEY=

# LemonSqueezy
LEMONSQUEEZY_API_KEY=
LEMONSQUEEZY_WEBHOOK_SECRET=

# Firebase
FIREBASE_PRIVATE_KEY=
